<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='dist/js/common.vendor.js') }}" type="text/javascript"></script>
    {% block meta %}{% endblock%}
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}
    {% block gallery %}
    {% endblock %}
    {% block footer %}
        <footer class="footer ">
                <div class="container container-footer">
                    <span class="footer-el footer-left"> {{ pagechunks.copyright|safe }} </span>
                    <span class="footer-el footer-center"> {{ pagechunks.social_networks|safe }} </span>
                    <span class="footer-el footer-right"> {{ pagechunks.contacts|safe }} </span>
                </div>
        </footer>
    {% endblock %}
    {% block postscripts %}{% endblock %}
</body>
</html>
