<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">
                    <img alt="HRUAPROM" src="{{ url_for('static', filename='img/prom-ua-logo.png') }}">
                  </a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for("feed.vacancies") }}">Вакансии</a>
                    </li>
                    <li>
                        <a href="">Проекты</a>
                    </li>
                    <li>
                        <a href="">О компании</a>
                    </li>
                    <li>
                        <a href="">Контакты</a>
                    </li>
                </ul>

            </div>
        </nav>
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
