language: python
python:
  - "3.4"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install flake8
# command to run tests
script: flake8 --exclude "*versions*" .
script: python -m unittest