@import "bootstrap/dist/css/bootstrap.min.css"
@import "magnific-popup/dist/magnific-popup.css"
@import "bootstrap-select/dist/css/bootstrap-select.min.css"
@import "base.styl"
@import "error.styl"
@import "feed.styl"
@import "form.styl"

.gallery-lightbox-image
  display none

.gallery-lightbox-focused
  display block

.gallery-image
  cursor pointer
