/* import all required styl files here */
@import 'colors.styl'
@import 'mixins.styl'
@import 'promo-banner.styl'
@import 'base-client.styl'
@import 'footer.styl'
@import 'header.styl'
@import 'buttons.styl'
@import 'vacancy-list.styl'
@import 'gallery.styl'
@import "react-select/dist/default.css"
@import "magnific-popup/dist/magnific-popup.css"
@import 'vacancy.styl'
@import "sad-smile.styl"
@import "pageblocks.styl"
@import "contacts.styl"
@import "iframe.styl"
