/* import all required styl files here */
@import 'promo-banner.styl'
@import 'base-client.styl'
@import 'footer.styl'
@import 'header.styl'
@import 'buttons.styl'
@import 'vacancy-list.styl'
@import 'gallery.styl'
@import "react-select/dist/default.css"
@import "magnific-popup/dist/magnific-popup.css"
@import "sad-smile.styl"
