$color-separator = #eeeeee
$color-separator-last = #cccccc
$color-main = #12c0f3
$color-a-hover = #2e2a2c
$color-nav-shadow = #f2f2f2
$color-grey = #9d9c9c
$color-black = rgb(35,31,32)
$color-box-shadow-grey = #d6d6d6
$color-text-btn-grey = #8a8385
$color-error = #ff4159
