input
  font-size 1.0em
  display inline-block
  border-radius 0.6em
  border none
  outline none
  box-shadow 0 0 2px black
  padding 0.3em 1em
  font-weight 100
  font-family Arial
  margin 1em
  &:focus
    box-shadow 0 0 8px rgba(0, 255, 50, 0.9)

input.invalid, input.invalid:focus
  box-shadow 0 0 9px rgba(255, 25, 25, 0.9)

span
  &.small
    font-size 0.7em

.warning
  color red
