-border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  border-radius arguments

-box-shadow()
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments

-transform()
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  -webkit-transform arguments
  transform arguments

-transition()
  -moz-transition arguments
  -o-transition arguments
  -webkit-transition arguments
  transition arguments

-filter()
  -webkit-filter arguments
  filter arguments
