-border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  border-radius arguments

-transition()
  -moz-transition arguments
  -o-transition arguments
  -webkit-transition arguments
  -transition arguments
