.promo-banner
  margin-bottom 60px

.promo-banner-text
  width: 250px
  padding-top 5px

.promo-banner-text h1
  font-size 25px
  font-weight bold
  line-height 36px

.promo-banner-text p
  font-size 20px
  line-height 30px


@media (min-width 480px)

  .promo-banner-text h1
    font-size 30px
    line-height 1

  .promo-banner-text
    width 300px


@media (min-width 768px)

  .promo-banner-text
    width 400px

  .promo-banner-text h1
    font-size 40px

  .promo-banner
    margin-bottom 80px


@media (min-width 1024px)

  .promo-banner-text
    margin-left 680px
    padding-top 110px

  .promo-banner
    margin-bottom 90px
    height 360px
    background url('/static/img/promo-banner.png') no-repeat left 50%
    position relative
    left: -110px
