.vacancyTitle, .vacancySalary
  font-size 20px
  font-weight bold
  margin 0 0 5px

.vacancyCity
  font-size 16px
  margin 0 0 5px

.Select
  margin-bottom 15px

.Select-control
  box-shadow 2px 3.464px 0px 0px rgb( 242, 242, 242 )

.vacancyButton
  display none

.vacancyNodeCompressed
  padding 35px 0
  border-bottom solid 2px rgb(238,238,238)

.vacancy-hr
  margin-top 40px
  border none
  color rgb(238,238,238)
  background-color rgb(238,238,238)
  height 2px

.page
  padding 10px 19px
  display inline-block

.page.selected
  border solid 1px rgb(204,204,204)
  border-radius 4px
  box-shadow 2px 3.464px 0px 0px rgb( 242, 242, 242 )
  color rgb(42, 42, 42)

.paginator
  font-size 20px
  width 100%
  text-align center
  margin-bottom 40px
