{% extends "pages/base.html" %}
{% block meta %}
    {{ super() }}

    {# FIXME: remove template inline styles #}
    <style> .nav li:nth-child(3) a {color: #2e2a2c; }</style>
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="container">
        <iframe class="presentation" src="https://docs.google.com/presentation/d/1WDeuKIU7plIce9Em-R4gI-Vcon6DgguEJ_yqESY3EyM/embed?start=false&loop=false&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
{% endblock %}
