{% extends "base.html" %}
{% from "pages/macros.html" import list_blocks %}
{% block content %}

    <div class="container">
        {{ list_blocks(blocks) }}
    </div>

    <!-- TODO: parse given link and populate attributes with real values: -->
    <div id="container-map" data-mlat="{{ map_coordinates["lat"] }}" data-mlng="{{ map_coordinates["lon"] }}" data-clat="{{ map_coordinates["lat"] }}" data-clng="{{ map_coordinates["lon"] }}" data-zoom="{{ map_coordinates["zoom"] }}"></div>
{% endblock %}
{% block meta %}
    {{ super() }}
    {# FIXME: remove template inline styles #}
    <style> .nav li:nth-child(4) a {color: #2e2a2c; }</style>
{% endblock %}
{% block postscripts %}
    {{ super() }}
    <!-- I dunno better way to include google map to the website -->
    <script src="{{ url_for('static', filename='dist/js/map.bundle.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initializeMap" async defer></script>
{% endblock %}
