{% macro block_with_image_left(block) -%}
    <div class="pageblock">
        <div class="pageblock-image">
            <img class="img-responsive" src="{{ block.image }}" alt="...">
        </div>
        <div class="pageblock-content">
            <h4>{{ block.title }}</h4>
            {{ block.text|safe }}
        </div>
    </div>
{%- endmacro %}

{% macro block_with_image_right(block) -%}
    <div class="pageblock">
        <div class="pageblock-content">
            <h4>{{ block.title }}</h4>
            {{ block.text|safe }}
        </div><!--
        --><div class="pageblock-image">
            <img class="img-responsive" src="{{ block.image }}" alt="...">
        </div>
    </div>
{%- endmacro %}

{% macro block_with_no_image(block) -%}
    <div class="pageblock">
        <div class="pageblock-content">
            <h4>{{ block.title }}</h4>
            {{ block.text|safe }}
        </div>
    </div>
{%- endmacro %}

{% macro not_implemented_yet(block) -%}
    <!--{{ block.block_type }} is not implemented yet-->
{%- endmacro %}

{% macro display_block(block) -%}
    {% if block.block_type == block.TYPE.no_img %}
        {{ block_with_no_image(block) }}
    {% elif block.block_type == block.TYPE.img_left %}
        {{ block_with_image_left(block) }}
    {% elif block.block_type == block.TYPE.img_right %}
        {{ block_with_image_right(block) }}
    {% else %}
        {{ not_implemented_yet(block) }}
    {% endif %}
{%- endmacro %}

{% macro list_blocks(blocks) -%}
    {% for block in blocks %}
        {{ display_block(block) }}
    {% endfor %}
{%- endmacro %}
