{% macro block_with_image_left(block, img_size='medium') -%}
{% if img_size == 'small' %}
    {% set img_size = 3 %}
{% elif img_size == 'medium' %}
    {% set img_size = 4 %}
{% elif img_size == 'large' %}
    {% set img_size = 6 %}
{% else %}
    {% set img_size = 4 %}
{% endif %}
    <div class="row">
        <div class="col-md-{{ img_size }}">
            <img class="img-responsive" src="{{ block.image }}" alt="...">
        </div><!--
        --><div class="col-md-{{ 12 - img_size }}">
            <h4>{{ block.title }}</h4>
            {{ block.text|safe }}
        </div>
    </div>
{%- endmacro %}

{% macro block_with_image_right(block, img_size='medium') -%}
 {% if img_size == 'small' %}
    {% set img_size = 3 %}
{% elif img_size == 'medium' %}
    {% set img_size = 4 %}
{% elif img_size == 'large' %}
    {% set img_size = 6 %}
{% else %}
    {% set img_size = 4 %}
{% endif %}
    <div class="row">
        <div class="col-md-{{ 12 - img_size }}">
            <h4>{{ block.title }}</h4>
            {{ block.text|safe }}
        </div><!--
        --><div class="col-md-{{ img_size }}">
            <img class="img-responsive" src="{{ block.image }}" alt="...">
        </div>
    </div>
{%- endmacro %}

{% macro block_with_no_image(block) -%}
{% if img_size == 'small' %}
    {% set img_size = 3 %}
{% elif img_size == 'medium' %}
    {% set img_size = 4 %}
{% elif img_size == 'large' %}
    {% set img_size = 6 %}
{% else %}
    {% set img_size = 4 %}
{% endif %}
    <div class="row">
        <div class="col-md-12">
            <h4>{{ block.title }}</h4>
            {{ block.text|safe }}
        </div>
    </div>
{%- endmacro %}

{% macro not_implemented_yet(block) -%}
    <!--{{ block.block_type }} is not implemented yet-->
{%- endmacro %}

{% macro display_block(block, img_size='medium') -%}
    {% if block.block_type == block.TYPE.no_img %}
        {{ block_with_no_image(block) }}
    {% elif block.block_type == block.TYPE.img_left %}
        {{ block_with_image_left(block, img_size=img_size) }}
    {% elif block.block_type == block.TYPE.img_right %}
        {{ block_with_image_right(block, img_size=img_size) }}
    {% else %}
        {{ not_implemented_yet(block) }}
    {% endif %}
{%- endmacro %}

{% macro list_blocks(blocks, img_size='medium') -%}
    {% for block in blocks %}
        {{ display_block(block, img_size=img_size) }}
    {% endfor %}
{%- endmacro %}
