{% extends "base.html" %}
{% from "pages/macros.html" import list_blocks %}

{% block meta %}
    <script src="{{ url_for('static', filename='dist/js/gallery.bundle.js') }}"
            type="text/javascript"></script>
{% endblock %}

{% block gallery %}
<div id="gallery">
        {% for column in images %}
            <div class="column">
            {% for image in column %}
                <a href="/media/{{ image.img_category.name }}/full/{{ image.name.hex }}.{{ image.ext }}"
                   title="{{ image.title }}">
                     <img class="thumb" src="/media/{{ image.img_category.name }}/thumb/{{ image.name.hex }}.{{ image.ext }}"
                          alt="{{ image.description }}">
                </a>
            {% endfor %}
            </div>
        {% endfor %}
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="promo-banner">
            <div class="promo-banner-text">
                {{ pagechunks.jumbotron_mainpage|safe }}
            </div>
        </div>
    </div>

    <div class="container">
        {{ list_blocks(blocks) }}
    </div>

{% endblock %}
