{% extends "pages/base.html" %}
{% block meta %}
    <script src="{{ url_for('static', filename='dist/js/gallery.bundle.js') }}"
            type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="promo-banner">
            <div class="promo-banner-text">
                {{ pagechunks.jumbotron_mainpage|safe }}
            </div>
        </div>
    </div>

    {{ super() }}

    <div id="gallery">
        {% for column in images %}
        <div class="column">
            {% for image in column %}
            <a href="{{ image.bl.get_url() }}"
               title="{{ image.title }}">
                <img class="thumb" src="{{ image.bl.get_url(is_thumbnail=True) }}"
                     alt="{{ image.description }}">
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
