{% extends "base.html" %}
{% from "pages/macros.html" import list_blocks %}
{% block meta %}
    <script src="{{ url_for('static', filename="dist/js/gallery.bundle.js") }}"
            type="text/javascript"></script>
{% endblock %}


{% block content %}
    <div class="jumbotron">
        {{ pagechunks.jumbotron_mainpage|safe }}
    </div>

    <div class="container">
        {{ list_blocks(blocks, img_size='large') }}
    </div>

    <div class="container" id="gallery">
        <a href="https://farm1.static.flickr.com/304/19265407504_1b7a4422ed_b.jpg"
           title="Broken Chain">
            <img src="https://farm1.static.flickr.com/304/19265407504_1b7a4422ed_s.jpg">
        </a>
        <a href="https://farm1.static.flickr.com/313/19870634432_39e917af38_b.jpg"
           title=".... You Make My Heart Sing ....">
            <img src="https://farm1.static.flickr.com/313/19870634432_39e917af38_s.jpg">
        </a>
        <a href="https://farm1.static.flickr.com/315/19902238331_42110e4579_b.jpg"
           title="Wood Stork Chick">
            <img src="https://farm1.static.flickr.com/315/19902238331_42110e4579_s.jpg">
        </a>
    </div>

{% endblock %}
