{% extends "base.html" %}

{% block content %}

    <div class="container">
    {% for block in blocks %}
        <div class="row">
            {% if block.block_type == block.TYPE.no_img %}
            <div class="col-md-12">
                <h4 class="media-heading">{{ block.title }}</h4>
                {{ block.text|safe }}
            </div>
            {% elif block.block_type == block.TYPE.img_left %}
             <div class="col-md-4">
                <img class="img-responsive" src="{{ block.image }}" alt="...">
            </div><!--
            --><div class="col-md-8">
                <h4 class="media-heading">{{ block.title }}</h4>
                {{ block.text|safe }}
            </div>
            {% elif block.block_type == block.TYPE.img_right %}
            <div class="col-md-8">
                <h4 class="media-heading">{{ block.title }}</h4>
                {{ block.text|safe }}            
            </div><!--
            --><div class="col-md-4">
                <img class="img-responsive" src="{{ block.image }}" alt="...">
            </div>
            {% else %}
            <!-- NOT IMPLEMENTED YET -->
            {% endif %}
        </div>
    {% endfor %}
    </div>

{% endblock %}
