{% extends "base.html" %}

{% block title %}{{ vacancy.title }}{% endblock %}
{% block meta %}

    {% if vacancy.description %}
    <meta name="description" content="{{ vacancy.description }}"/>
    {% endif %}
    {% if vacancy.keywords %}
    <meta name="keywords" content="{{ vacancy.keywords }}"/>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="vacancy">
        <h1>{{ vacancy.title }}</h1>
        {% if vacancy.salary %}
        <p>{{ vacancy.salary }}</p>
        {% endif %}
        <p>{{ vacancy.city }}</p>
        <p>{{ vacancy.text|safe }}</p>
    </div>

<br/>
<br/>

<script src="{{ url_for('static', filename='js/vacancy_form/form.js') }}"
        type="text/jsx"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<form enctype="multipart/form-data" action="" method="post" name="apply">
    {{ form.hidden_tag() }}
    <div id="attached-form"></div>
</form>

{% endblock %}