{% extends "base.html" %}

{% block title %}{{ vacancy.title }}{% endblock %}
{% block meta %}
    {% if vacancy.description %}
    <meta name="description" content="{{ vacancy.description }}"/>
    {% endif %}
    {% if vacancy.keywords %}
    <meta name="keywords" content="{{ vacancy.keywords }}"/>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>{{ vacancy.title }}</h1>
    {% if vacancy.salary %}
    <p>{{ vacancy.salary }}</p>
    {% endif %}
    <p>{{ vacancy.text }}</p>

<form enctype="multipart/form-data" action="" method="post" name="apply">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      <p>
          <b>{{ field.label }}:</b>
          {{ field }}
          {% for error in field.errors %}
          {{ error }}
          {% endfor %}
      </p>
    {% endfor %}

    <input type="submit" value="Ответить"/>

</form>
{% endblock %}