{% extends "base.html" %}

{% block title %}{{ vacancy.title }}{% endblock %}
{% block meta %}
    <meta name="csrf_token" id="csrf_token" content="{{ csrf_token() }}" />

    {% if vacancy.description %}
    <meta name="description" content="{{ vacancy.description }}"/>
    {% endif %}
    {% if vacancy.keywords %}
    <meta name="keywords" content="{{ vacancy.keywords }}"/>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="vacancy">
            <h1 class="vacancy-title">{{ vacancy.title }}</h1>
            {% if vacancy.city %}
                <p class="vacancy-city">{{ vacancy.city }}</p>
                {% if vacancy.salary %}
                <h2 class="vacancy-salary">{{ vacancy.salary }}</h2>
                {% endif %}
                <h3>Описание вакансии</h3>
            {% endif %}
            <div class="vacancy-text">{{ vacancy.text|safe }}</div>
        </div>

        <h3>Отправить резюме</h3>
        <div id="attached-form"></div>
    </div>

<script src="{{ url_for('static', filename='dist/js/vacancy.bundle.js') }}"
        type="text/javascript"></script>
{% endblock %}