{% extends "base.html" %}

{% block title %}{{ vacancy.title }}{% endblock %}
{% block meta %}
    {% if vacancy.description %}
    <meta name="description" content="{{ vacancy.description }}"/>
    {% endif %}
    {% if vacancy.keywords %}
    <meta name="keywords" content="{{ vacancy.keywords }}"/>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="vacancy">
        <h1 class="text-center">{{ vacancy.title }}</h1>
        <h3 class="text-center">


        {% if vacancy.salary %}
        <span class="text-left">{{ vacancy.salary }}</span>
        {% endif %}
        <span class="text-right">{{ vacancy.city }}</span>
        </h3>

        <p>{{ vacancy.text|safe }}</p>
    </div>

<br/>
<br/>

<form enctype="multipart/form-data" action="" method="post" name="apply">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      <p>
          <b>{{ field.label }}:</b>
          {{ field(class="form-control") }}
          {% for error in field.errors %}
          {{ error }}
          {% endfor %}
      </p>
    {% endfor %}

    <input class="btn btn-default" type="submit" value="Ответить"/>

</form>
{% endblock %}
