{% extends "base.html" %}
{% block title %}Вакансии - {% endblock %}
{% block content %}
    <div id="vacancies" class="container"></div>

    <div class="container container-sad-smile">
        <div class="sad-smile">
            <span>:(</span>
        </div>
        <div class="sad-smile-text">
            {{ pagechunks.didnt_find_vacancy|safe }}
        </div>
    </div>
<script src="{{ url_for('static', filename='dist/js/feed.bundle.js') }}"
        type="text/javascript"></script>

{% endblock %}
{% block meta %}
    {{ super() }}
    {# FIXME: remove template inline styles #}
    <style> .nav li:nth-child(1) a {color: #2e2a2c; }</style>
{% endblock %}
