<!DOCTYPE html>
<html>
    <head>
        <title>403 -  Forbidden</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/bundle.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>Ой!</h1>
                        <h2>403 - Запрещено</h2>
                        <div class="error-details">
                            <p>
                                <a href="https://github.com/Cybran111">Никита</a>, наш тимлид, считает, что нельзя давать пользователям возможность создавать странички, ибо сие действие станет причиной вселенского хаоса и последующего уничтожения Вселенной нехорошими котятами. Просим отнестись с пониманием.
                            </p>
                            <img class="img-responsive center-block" src="http://s1.developerslife.ru/public/images/gifs/750b4f13-4361-40a1-b086-166bffc113a7.gif"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
