{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
        {% for category in entries %}
            <li class="list-group-item">
                <a href="{{ url_for('admin.category_detail', entry_id=category.id) }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}

        <li class="list-group-item list-group-item-info">
            <a href="{{ url_for('admin.category_detail') }}">
                Добавить новую категорию
            </a>
        </li>
    </ul>
{% endblock %}
