{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
        {% for city in entries %}
            <li class="list-group-item">
                <a href="{{ url_for('admin.city_detail', entry_id=city.id) }}">
                   {{ city.name }}
                </a>
            </li>
        {% endfor %}
        <li class="list-group-item list-group-item-info">
            <a href="{{ url_for('admin.city_detail') }}">
                Добавить новый город
            </a>
        </li>
    </ul>
{% endblock %}
