{% extends "admin/base.html" %}
{% block title %}Галерея{% endblock %}
{% block page_content %}
    <a href="{{ url_for('admin.image_detail') }}"
       class="btn btn-primary">Загрузить новую картинку</a>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Превью</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Описание</th>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>
                    <a href="{{ url_for('admin.image_detail', entry_id=entry.id) }}">
                        <img width="75px" class="responsive-image" src="{{ entry.bl.get_url(is_thumbnail=True) }}"/>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('admin.image_detail', entry_id=entry.id) }}">
                        {{ entry.title }}
                    </a>
                </td>
                <td>
                    {{ entry.img_category.name }}
                </td>
                <td>
                    {{ entry.description }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('admin.image_detail') }}"
       class="btn btn-primary">Загрузить новую картинку</a>
{% endblock %}
