{% extends "admin/base.html" %}

{% block content %}
    <div class="container-fluid">
    {% for name, url in sections %}
        <div class="panel panel-body">
          <div class="panel-body">
            <a href="{{ url }}">{{ name }}</a>
          </div>
        </div>
    {% endfor %}
        <!--TODO: insert this link in proper place-->
        <div class="panel panel-body">
          <div class="panel-body">
            <a href="/auth/password_change">Изменить пароль</a>
          </div>
        </div>
    </div>
{% endblock %}
