{% extends "admin/base.html" %}
{% block title %}Блоки страниц{% endblock %}
{% block page_content %}
    <ul class="list-group">
        {% for entry in entries %}
            <li class="list-group-item">
                <a href="{{ url_for('admin.pageblock_detail', entry_id=entry.id) }}">
                    {{ entry.title }} ({{ entry.short_description }})
                </a>
            </li>
        {% endfor %}

        <li class="list-group-item list-group-item-info">
            <a href="{{ url_for('admin.pageblock_detail') }}">Добавить блок страниц</a>
        </li>
    </ul>
{% endblock %}
