{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
        {% for user in entry %}
            <li class="list-group-item">
                <a href="{{ url_for('admin.user_detail', entry_id=user.id) }}">
                    class="list-group-item">{{ user.name }}
                </a>
            </li>
        {% endfor %}
        <li class="list-group-item list-group-item-info">
            <a href="{{ url_for('admin.user_detail') }}">
               Добавить нового пользователя
            </a>
        </li>
    </ul>
{% endblock %}
